In [1]:
import re
import pandas as pd

## df_area

In [2]:
# github仓库地址
# df_area = pd.read_csv('https://raw.githubusercontent.com/BlankerL/DXY-COVID-19-Data/master/csv/DXYArea.csv')
# gitee上对应的镜像仓库，不可用
# df_area = pd.read_csv('https://gitee.com/Mr_Wr0ng/DXY-COVID-19-Data/raw/master/csv/DXYArea.csv')
df_area = pd.read_csv('G:\Gitclone\DXY-COVID-19-Data\csv\DXYArea.csv')
df_area['date'] = df_area['updateTime'].apply(lambda x: x[:10])
df_area

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,province_deadCount,updateTime,cityName,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount,date
0,亚洲,Asia,中国,China,香港,Hong Kong,810000,1035,47.0,699,4,2020-04-23 18:54:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23
1,亚洲,Asia,中国,China,澳门,Macau,820000,45,9.0,27,0,2020-04-23 18:54:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23
2,亚洲,Asia,中国,China,中国,China,951001,84304,0.0,78169,4642,2020-04-23 18:54:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23
3,北美洲,North America,美国,United States of America,美国,United States of America,971002,842624,0.0,76614,46785,2020-04-23 18:44:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23
4,欧洲,Europe,西班牙,Spain,西班牙,Spain,965015,213024,0.0,89250,22157,2020-04-23 18:44:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148361,亚洲,Asia,中国,China,辽宁省,Liaoning,210000,0,1.0,0,0,2020-01-22 03:28:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22
148362,亚洲,Asia,中国,China,台湾,Taiwan,710000,1,0.0,0,0,2020-01-22 03:28:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22
148363,亚洲,Asia,中国,Hongkong,香港,Hongkong,810000,0,117.0,0,0,2020-01-22 03:28:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22
148364,亚洲,Asia,中国,China,黑龙江省,Heilongjiang,230000,0,1.0,0,0,2020-01-22 03:28:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22
148365,亚洲,Asia,中国,China,湖南省,Hunan,430000,1,0.0,0,0,2020-01-22 03:28:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22

## df_area_simple

### func drop_duplicate_data

In [3]:
def drop_duplicates_data(target_date):
    df_day = df_area[df_area['date'] == target_date]
#     return df_day.drop_duplicates(['countryName', 'provinceName']).sort_values(by=column, ascending=False)
    return df_day.drop_duplicates(['countryName', 'provinceName'])

### df_area_simple

In [4]:
df_day_all = [drop_duplicates_data(target_date=d) for d in df_area['date'].unique()]
df_area_simple_t = pd.concat(df_day_all[::-1])
df_area_simple_t['province_nowconfirmedCount'] = df_area_simple_t['province_confirmedCount'] - df_area_simple_t['province_curedCount'] - df_area_simple_t['province_deadCount']
df_area_simple_t['city_nowconfirmedCount'] = df_area_simple_t['city_confirmedCount'] - df_area_simple_t['city_curedCount'] - df_area_simple_t['city_deadCount']
df_area_simple = df_area_simple_t[(df_area_simple_t['countryName'] != '大不列颠及北爱尔兰联合王国') & (df_area_simple_t['countryName'] != '英国（含北爱尔兰）')]
df_area_simple

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,...,cityName,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount,date,province_nowconfirmedCount,city_nowconfirmedCount
148308,亚洲,Asia,中国,China,河北省,Hebei,130000,1,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,1,NaN
148309,亚洲,Asia,中国,China,湖北省,Hubei,420000,444,NaN,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,399,NaN
148311,亚洲,Asia,中国,China,山东省,Shandong,370000,2,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,2,NaN
148312,亚洲,Asia,中国,China,广西壮族自治区,Guangxi,450000,2,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,2,NaN
148313,亚洲,Asia,中国,China,河南省,Henan,410000,5,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,亚洲,Asia,中国,China,北京市,Beijing,110000,593,164.0,522,...,朝阳区,Chaoyang District,110105.0,75.0,0.0,0.0,0.0,2020-04-23,63,75.0
444,亚洲,Asia,中国,China,广东省,Guangdong,440000,1584,11.0,1518,...,广州,Guangzhou,440100.0,501.0,4.0,472.0,1.0,2020-04-23,58,28.0
465,亚洲,Asia,中国,China,山西省,Shanxi,140000,197,18.0,142,...,境外输入,NaN,0.0,64.0,18.0,9.0,0.0,2020-04-23,55,55.0
477,亚洲,Asia,中国,China,吉林省,Jilin,220000,107,3.0,98,...,吉林市,Jilin,220200.0,13.0,1.0,6.0,0.0,2020-04-23,8,7.0
487,亚洲,Asia,中国,China,四川省,Sichuan,510000,561,13.0,557,...,成都,Chengdu,510100.0,166.0,13.0,162.0,3.0,2020-04-23,1,1.0

### df_foreign

In [5]:
df_foreign = df_area_simple[df_area_simple['countryName'] != '中国']
df_foreign

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,...,cityName,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount,date,province_nowconfirmedCount,city_nowconfirmedCount
144315,NaN,NaN,柬埔寨,Kampuchea (Cambodia ),柬埔寨,Kampuchea (Cambodia ),952003,1,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-27,1,NaN
144402,NaN,NaN,泰国,Thailand,泰国,Thailand,952010,7,0.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-27,5,NaN
144403,NaN,NaN,美国,United States of America,美国,United States of America,971002,5,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-27,5,NaN
144404,NaN,NaN,澳大利亚,Australia,澳大利亚,Australia,990001,5,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-27,5,NaN
144405,NaN,NaN,新加坡,Singapore,新加坡,Singapore,952009,4,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-27,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,非洲,Africa,津巴布韦,Zimbabwe,津巴布韦,Zimbabwe,984013,28,0.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23,22,NaN
173,非洲,Africa,马拉维,Malawi,马拉维,Malawi,984006,23,0.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23,18,NaN
174,北美洲,North America,尼加拉瓜,Nicaragua,尼加拉瓜,Nicaragua,972006,10,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23,8,NaN
175,非洲,Africa,中非共和国,Central African Republic,中非共和国,Central African Republic,983002,16,0.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23,6,NaN
176,南美洲,South America,苏里南,Suriname,苏里南,Suriname,973010,10,0.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-23,3,NaN

#### dff_forergn

In [6]:
dff_foreign = pd.pivot(data=df_foreign, index='date', columns='countryName', values=['province_confirmedCount',
                                                                                     'province_curedCount',
                                                                                     'province_deadCount', 
                                                                                    'province_nowconfirmedCount'])
dff_foreign.iloc[0, :].fillna(0, inplace=True)
dff_foreign.fillna(method='ffill', inplace=True)
dff_foreign.columns.names = ['countType', 'countryName']
dff_foreign

countType   province_confirmedCount                                            \
countryName                      不丹   东帝汶 中非共和国      丹麦     乌克兰  乌兹别克斯坦   乌干达
date
2020-01-27                      0.0   0.0   0.0     0.0     0.0     0.0   0.0
2020-01-28                      0.0   0.0   0.0     0.0     0.0     0.0   0.0
2020-01-29                      0.0   0.0   0.0     0.0     0.0     0.0   0.0
2020-01-30                      0.0   0.0   0.0     0.0     0.0     0.0   0.0
2020-01-31                      0.0   0.0   0.0     0.0     0.0     0.0   0.0
...                             ...   ...   ...     ...     ...     ...   ...
2020-04-19                      5.0  18.0  12.0  7242.0  5449.0  1495.0  55.0
2020-04-20                      5.0  19.0  12.0  7384.0  5710.0  1543.0  55.0
2020-04-21                      5.0  19.0  14.0  7515.0  6125.0  1565.0  56.0
2020-04-22                      6.0  23.0  14.0  7695.0  6592.0  1657.0  58.0
2020-04-23                      6.0  23.0  16.0  7912.0  6592.0  1657.0  63.0

countType                       ... province_nowconfirmedCount               \
countryName    乌拉圭    乍得 也门共和国  ...                        马恩岛   马拉维   马提尼克
date                            ...
2020-01-27     0.0   0.0   0.0  ...                        0.0   0.0    0.0
2020-01-28     0.0   0.0   0.0  ...                        0.0   0.0    0.0
2020-01-29     0.0   0.0   0.0  ...                        0.0   0.0    0.0
2020-01-30     0.0   0.0   0.0  ...                        0.0   0.0    0.0
2020-01-31     0.0   0.0   0.0  ...                        0.0   0.0    0.0
...            ...   ...   ...  ...                        ...   ...    ...
2020-04-19   517.0  33.0   1.0  ...                      285.0  15.0  151.0
2020-04-20   528.0  33.0   1.0  ...                      287.0  15.0  151.0
2020-04-21   535.0  33.0   1.0  ...                      293.0  15.0  151.0
2020-04-22   543.0  33.0   1.0  ...                      293.0  18.0  149.0
2020-04-23   549.0  34.0   1.0  ...                      297.0  18.0  149.0

countType
countryName    马来西亚    马约特    马耳他 马达加斯加     马里    黎巴嫩     黑山
date
2020-01-27      3.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-28      3.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-29      7.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-30      8.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-31      8.0    0.0    0.0   0.0    0.0    0.0    0.0
...             ...    ...    ...   ...    ...    ...    ...
2020-04-19   2103.0  241.0  375.0  85.0  162.0  553.0  245.0
2020-04-20   2041.0  241.0  379.0  85.0  168.0  554.0  248.0
2020-04-21   2041.0  280.0  380.0  86.0  176.0  553.0  219.0
2020-04-22   1987.0  280.0  384.0  86.0  187.0  552.0  207.0
2020-04-23   1987.0  307.0  396.0  86.0  187.0  552.0  194.0

[88 rows x 864 columns]

### df_cn

In [7]:
df_cn = df_area_simple[(df_area_simple['countryName'] == '中国') & (df_area_simple['provinceName'] != '中国')]
df_cn['provinceShortName'] = df_cn['provinceName'].apply(lambda x: re.sub('[市,省,自治区,壮族,回族,维吾尔]', '', x))
df_cn

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,...,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount,date,province_nowconfirmedCount,city_nowconfirmedCount,provinceShortName
148308,亚洲,Asia,中国,China,河北省,Hebei,130000,1,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,1,NaN,河北
148309,亚洲,Asia,中国,China,湖北省,Hubei,420000,444,NaN,28,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,399,NaN,湖北
148311,亚洲,Asia,中国,China,山东省,Shandong,370000,2,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,2,NaN,山东
148312,亚洲,Asia,中国,China,广西壮族自治区,Guangxi,450000,2,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,2,NaN,广西
148313,亚洲,Asia,中国,China,河南省,Henan,410000,5,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22,5,NaN,河南
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,亚洲,Asia,中国,China,北京市,Beijing,110000,593,164.0,522,...,Chaoyang District,110105.0,75.0,0.0,0.0,0.0,2020-04-23,63,75.0,北京
444,亚洲,Asia,中国,China,广东省,Guangdong,440000,1584,11.0,1518,...,Guangzhou,440100.0,501.0,4.0,472.0,1.0,2020-04-23,58,28.0,广东
465,亚洲,Asia,中国,China,山西省,Shanxi,140000,197,18.0,142,...,NaN,0.0,64.0,18.0,9.0,0.0,2020-04-23,55,55.0,山西
477,亚洲,Asia,中国,China,吉林省,Jilin,220000,107,3.0,98,...,Jilin,220200.0,13.0,1.0,6.0,0.0,2020-04-23,8,7.0,吉林
487,亚洲,Asia,中国,China,四川省,Sichuan,510000,561,13.0,557,...,Chengdu,510100.0,166.0,13.0,162.0,3.0,2020-04-23,1,1.0,四川

### df_province

In [8]:
df_province = pd.pivot(data=df_cn, index='date', columns='provinceShortName', values=['province_confirmedCount', 
                                                                                 'province_curedCount',
                                                                                 'province_deadCount', 
                                                                                'province_nowconfirmedCount'])
df_province.iloc[0, :].fillna(0, inplace=True)
df_province.fillna(method='ffill', inplace=True)
df_province.columns.names = ['countType', 'provinceShortName']
df_province

countType         province_confirmedCount                                     \
provinceShortName                      上海     云南    内蒙古     北京     台湾     吉林
date
2020-01-22                            9.0    1.0    0.0   10.0    1.0    0.0
2020-01-23                           16.0    1.0    0.0   22.0    1.0    1.0
2020-01-24                           20.0    5.0    2.0   36.0    1.0    3.0
2020-01-25                           33.0   11.0    7.0   41.0    3.0    4.0
2020-01-26                           40.0   16.0    7.0   68.0    4.0    4.0
...                                   ...    ...    ...    ...    ...    ...
2020-04-19                          635.0  184.0  193.0  593.0  420.0  104.0
2020-04-20                          638.0  184.0  194.0  593.0  422.0  104.0
2020-04-21                          638.0  184.0  194.0  593.0  425.0  106.0
2020-04-22                          639.0  184.0  194.0  593.0  426.0  106.0
2020-04-23                          640.0  184.0  194.0  593.0  426.0  107.0

countType                                     ... province_nowconfirmedCount  \
provinceShortName     四川     天津    宁夏     安徽  ...                         甘肃
date                                          ...
2020-01-22           5.0    4.0   1.0    1.0  ...                        0.0
2020-01-23           8.0    4.0   1.0    9.0  ...                        2.0
2020-01-24          15.0    8.0   2.0   15.0  ...                        2.0
2020-01-25          28.0   10.0   3.0   39.0  ...                        4.0
2020-01-26          44.0   14.0   4.0   60.0  ...                        7.0
...                  ...    ...   ...    ...  ...                        ...
2020-04-19         561.0  189.0  75.0  991.0  ...                        0.0
2020-04-20         561.0  189.0  75.0  991.0  ...                        0.0
2020-04-21         561.0  189.0  75.0  991.0  ...                        0.0
2020-04-22         561.0  189.0  75.0  991.0  ...                        0.0
2020-04-23         561.0  189.0  75.0  991.0  ...                        0.0

countType
provinceShortName    福建   西藏   贵州    辽宁    重庆    陕西   青海     香港    黑龙江
date
2020-01-22          1.0  0.0  1.0   2.0   6.0   0.0  0.0    0.0    0.0
2020-01-23          5.0  0.0  3.0   3.0   9.0   3.0  0.0    2.0    2.0
2020-01-24         10.0  0.0  3.0   4.0  27.0   5.0  0.0    2.0    3.0
2020-01-25         18.0  0.0  4.0  16.0  57.0  15.0  1.0    5.0    8.0
2020-01-26         35.0  0.0  5.0  21.0  75.0  22.0  1.0    5.0   14.0
...                 ...  ...  ...   ...   ...   ...  ...    ...    ...
2020-04-19         15.0  0.0  0.0   2.0   3.0   1.0  0.0  419.0  413.0
2020-04-20         15.0  0.0  0.0   1.0   3.0   1.0  0.0  391.0  420.0
2020-04-21         13.0  0.0  0.0   1.0   3.0  21.0  0.0  375.0  425.0
2020-04-22         12.0  0.0  0.0   1.0   3.0  23.0  0.0  351.0  429.0
2020-04-23         12.0  0.0  0.0   1.0   3.0  23.0  0.0  332.0  427.0

[93 rows x 136 columns]

In [9]:
dff_province = df_province

### dff_cn

In [10]:
def df_cn_count(column):
    df = df_province[column]
    return df.sum(axis=1)
df_cn_columns = [['province_confirmedCount', 'province_curedCount', 'province_deadCount', 'province_nowconfirmedCount'], 
                 ['中国', '中国', '中国', '中国']]
df_cn_sum = [df_cn_count(column=c) for c in df_cn_columns[0]]
dff_cn = pd.concat(df_cn_sum, axis=1)
dff_cn.columns = df_cn_columns
dff_cn.columns.names = ['countType', 'countryName']
dff_cn

countType,province_confirmedCount,province_curedCount,province_deadCount,province_nowconfirmedCount
countryName,中国,中国,中国,中国
date,,,,
2020-01-22,544.0,28.0,17.0,499.0
2020-01-23,639.0,30.0,17.0,592.0
2020-01-24,901.0,36.0,26.0,839.0
2020-01-25,1377.0,39.0,41.0,1297.0
2020-01-26,2076.0,49.0,56.0,1971.0
...,...,...,...,...
2020-04-19,84225.0,77879.0,4642.0,1704.0
2020-04-20,84239.0,77948.0,4642.0,1649.0
2020-04-21,84278.0,78016.0,4642.0,1620.0
2020-04-22,84294.0,78097.0,4642.0,1555.0
2020-04-23,84304.0,78169.0,4642.0,1493.0

## df_world

In [11]:
df_world = pd.concat([dff_cn, dff_foreign], axis=1,sort=False)
# df_world.iloc[0,:].fillna(0, inplace=True)
# df_world.fillna(0, inplace=True)
df_world.fillna(method='ffill', inplace=True)
df_world.fillna(0, inplace=True)
df_world

countType   province_confirmedCount province_curedCount province_deadCount  \
countryName                      中国                  中国                 中国
2020-01-22                    544.0                28.0               17.0
2020-01-23                    639.0                30.0               17.0
2020-01-24                    901.0                36.0               26.0
2020-01-25                   1377.0                39.0               41.0
2020-01-26                   2076.0                49.0               56.0
...                             ...                 ...                ...
2020-04-19                  84225.0             77879.0             4642.0
2020-04-20                  84239.0             77948.0             4642.0
2020-04-21                  84278.0             78016.0             4642.0
2020-04-22                  84294.0             78097.0             4642.0
2020-04-23                  84304.0             78169.0             4642.0

countType   province_nowconfirmedCount province_confirmedCount              \
countryName                         中国                      不丹   东帝汶 中非共和国
2020-01-22                       499.0                     0.0   0.0   0.0
2020-01-23                       592.0                     0.0   0.0   0.0
2020-01-24                       839.0                     0.0   0.0   0.0
2020-01-25                      1297.0                     0.0   0.0   0.0
2020-01-26                      1971.0                     0.0   0.0   0.0
...                                ...                     ...   ...   ...
2020-04-19                      1704.0                     5.0  18.0  12.0
2020-04-20                      1649.0                     5.0  19.0  12.0
2020-04-21                      1620.0                     5.0  19.0  14.0
2020-04-22                      1555.0                     6.0  23.0  14.0
2020-04-23                      1493.0                     6.0  23.0  16.0

countType                            ... province_nowconfirmedCount        \
countryName      丹麦     乌克兰  乌兹别克斯坦  ...                        马恩岛   马拉维
2020-01-22      0.0     0.0     0.0  ...                        0.0   0.0
2020-01-23      0.0     0.0     0.0  ...                        0.0   0.0
2020-01-24      0.0     0.0     0.0  ...                        0.0   0.0
2020-01-25      0.0     0.0     0.0  ...                        0.0   0.0
2020-01-26      0.0     0.0     0.0  ...                        0.0   0.0
...             ...     ...     ...  ...                        ...   ...
2020-04-19   7242.0  5449.0  1495.0  ...                      285.0  15.0
2020-04-20   7384.0  5710.0  1543.0  ...                      287.0  15.0
2020-04-21   7515.0  6125.0  1565.0  ...                      293.0  15.0
2020-04-22   7695.0  6592.0  1657.0  ...                      293.0  18.0
2020-04-23   7912.0  6592.0  1657.0  ...                      297.0  18.0

countType
countryName   马提尼克    马来西亚    马约特    马耳他 马达加斯加     马里    黎巴嫩     黑山
2020-01-22     0.0     0.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-23     0.0     0.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-24     0.0     0.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-25     0.0     0.0    0.0    0.0   0.0    0.0    0.0    0.0
2020-01-26     0.0     0.0    0.0    0.0   0.0    0.0    0.0    0.0
...            ...     ...    ...    ...   ...    ...    ...    ...
2020-04-19   151.0  2103.0  241.0  375.0  85.0  162.0  553.0  245.0
2020-04-20   151.0  2041.0  241.0  379.0  85.0  168.0  554.0  248.0
2020-04-21   151.0  2041.0  280.0  380.0  86.0  176.0  553.0  219.0
2020-04-22   149.0  1987.0  280.0  384.0  86.0  187.0  552.0  207.0
2020-04-23   149.0  1987.0  307.0  396.0  86.0  187.0  552.0  194.0

[93 rows x 868 columns]

### dff_world

In [12]:
dff_world = df_world.astype(int)
dff_world

countType   province_confirmedCount province_curedCount province_deadCount  \
countryName                      中国                  中国                 中国
2020-01-22                      544                  28                 17
2020-01-23                      639                  30                 17
2020-01-24                      901                  36                 26
2020-01-25                     1377                  39                 41
2020-01-26                     2076                  49                 56
...                             ...                 ...                ...
2020-04-19                    84225               77879               4642
2020-04-20                    84239               77948               4642
2020-04-21                    84278               78016               4642
2020-04-22                    84294               78097               4642
2020-04-23                    84304               78169               4642

countType   province_nowconfirmedCount province_confirmedCount            \
countryName                         中国                      不丹 东帝汶 中非共和国
2020-01-22                         499                       0   0     0
2020-01-23                         592                       0   0     0
2020-01-24                         839                       0   0     0
2020-01-25                        1297                       0   0     0
2020-01-26                        1971                       0   0     0
...                                ...                     ...  ..   ...
2020-04-19                        1704                       5  18    12
2020-04-20                        1649                       5  19    12
2020-04-21                        1620                       5  19    14
2020-04-22                        1555                       6  23    14
2020-04-23                        1493                       6  23    16

countType                       ... province_nowconfirmedCount                 \
countryName    丹麦   乌克兰 乌兹别克斯坦  ...                        马恩岛 马拉维 马提尼克  马来西亚
2020-01-22      0     0      0  ...                          0   0    0     0
2020-01-23      0     0      0  ...                          0   0    0     0
2020-01-24      0     0      0  ...                          0   0    0     0
2020-01-25      0     0      0  ...                          0   0    0     0
2020-01-26      0     0      0  ...                          0   0    0     0
...           ...   ...    ...  ...                        ...  ..  ...   ...
2020-04-19   7242  5449   1495  ...                        285  15  151  2103
2020-04-20   7384  5710   1543  ...                        287  15  151  2041
2020-04-21   7515  6125   1565  ...                        293  15  151  2041
2020-04-22   7695  6592   1657  ...                        293  18  149  1987
2020-04-23   7912  6592   1657  ...                        297  18  149  1987

countType
countryName  马约特  马耳他 马达加斯加   马里  黎巴嫩   黑山
2020-01-22     0    0     0    0    0    0
2020-01-23     0    0     0    0    0    0
2020-01-24     0    0     0    0    0    0
2020-01-25     0    0     0    0    0    0
2020-01-26     0    0     0    0    0    0
...          ...  ...   ...  ...  ...  ...
2020-04-19   241  375    85  162  553  245
2020-04-20   241  379    85  168  554  248
2020-04-21   280  380    86  176  553  219
2020-04-22   280  384    86  187  552  207
2020-04-23   307  396    86  187  552  194

[93 rows x 868 columns]

In [13]:
simple_world_columns = [[i[0].replace('province_', '') for i in dff_world.columns], 
                        [i[1] for i in dff_world.columns]]
dff_world.columns = simple_world_columns
dff_world.columns.names = ['countType', 'countryName']
dff_world

countType   confirmedCount curedCount deadCount nowconfirmedCount  \
countryName             中国         中国        中国                中国
2020-01-22             544         28        17               499
2020-01-23             639         30        17               592
2020-01-24             901         36        26               839
2020-01-25            1377         39        41              1297
2020-01-26            2076         49        56              1971
...                    ...        ...       ...               ...
2020-04-19           84225      77879      4642              1704
2020-04-20           84239      77948      4642              1649
2020-04-21           84278      78016      4642              1620
2020-04-22           84294      78097      4642              1555
2020-04-23           84304      78169      4642              1493

countType   confirmedCount                               ...  \
countryName             不丹 东帝汶 中非共和国    丹麦   乌克兰 乌兹别克斯坦  ...
2020-01-22               0   0     0     0     0      0  ...
2020-01-23               0   0     0     0     0      0  ...
2020-01-24               0   0     0     0     0      0  ...
2020-01-25               0   0     0     0     0      0  ...
2020-01-26               0   0     0     0     0      0  ...
...                    ...  ..   ...   ...   ...    ...  ...
2020-04-19               5  18    12  7242  5449   1495  ...
2020-04-20               5  19    12  7384  5710   1543  ...
2020-04-21               5  19    14  7515  6125   1565  ...
2020-04-22               6  23    14  7695  6592   1657  ...
2020-04-23               6  23    16  7912  6592   1657  ...

countType   nowconfirmedCount
countryName               马恩岛 马拉维 马提尼克  马来西亚  马约特  马耳他 马达加斯加   马里  黎巴嫩   黑山
2020-01-22                  0   0    0     0    0    0     0    0    0    0
2020-01-23                  0   0    0     0    0    0     0    0    0    0
2020-01-24                  0   0    0     0    0    0     0    0    0    0
2020-01-25                  0   0    0     0    0    0     0    0    0    0
2020-01-26                  0   0    0     0    0    0     0    0    0    0
...                       ...  ..  ...   ...  ...  ...   ...  ...  ...  ...
2020-04-19                285  15  151  2103  241  375    85  162  553  245
2020-04-20                287  15  151  2041  241  379    85  168  554  248
2020-04-21                293  15  151  2041  280  380    86  176  553  219
2020-04-22                293  18  149  1987  280  384    86  187  552  207
2020-04-23                297  18  149  1987  307  396    86  187  552  194

[93 rows x 868 columns]

In [14]:
#     dff_world.index.names = ['date']

In [15]:
# dff_world.to_csv('dff_world.csv')
# dff_world_r = pd.read_csv('dff_world.csv', names=dff_world.columns)
# dff_world_r

### func melt_data

In [16]:
dff_world['confirmedCount'].melt(value_name='confirmedCount')
def melt_data(column):
    df = dff_world[column]
    df['date'] = df.index
    dff = df.melt( id_vars='date',value_name=column)
    return dff
# melt_data(column='nowconfirmedCount')
# melt_data_ls = [melt_data(c) for c in ['confirmedCount', 'nowconfirmedCount', 'curedCount', 'deadCount']]
# dff_world_melt = pd.concat(melt_data_ls, axis=1)
# dff_world_melt

### merge_all

In [17]:
melt_data_confirmed = melt_data(column='confirmedCount')
melt_data_nowconfirmed = melt_data(column='nowconfirmedCount')
melt_data_cured = melt_data(column='curedCount')
melt_data_dead = melt_data(column='deadCount')

merge_con_nowcon = pd.merge(left=melt_data_confirmed, right=melt_data_nowconfirmed, on=['date', 'countryName'])
merge_cured_dead = pd.merge(left=melt_data_cured, right=melt_data_dead, on=['date', 'countryName'])
merge_all = pd.merge(left=merge_con_nowcon, right=merge_cured_dead, on=['date', 'countryName'])
merge_all.sort_values(by='date', inplace=True)
merge_all

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,date,countryName,confirmedCount,nowconfirmedCount,curedCount,deadCount
0,2020-01-22,中国,544,499,28,17
12090,2020-01-22,毛里塔尼亚,0,0,0,0
3069,2020-01-22,匈牙利,0,0,0,0
17112,2020-01-22,荷属圣马丁,0,0,0,0
15810,2020-01-22,缅甸,0,0,0,0
...,...,...,...,...,...,...
9299,2020-04-23,布基纳法索,609,181,389,39
4742,2020-04-23,吉尔吉斯斯坦,612,404,201,7
13484,2020-04-23,海地,57,54,0,3
17669,2020-04-23,蒙古,34,29,5,0
20180,2020-04-23,黑山,315,194,116,5

In [18]:
# merge_all['countryName'].unique()

In [19]:
df_countryNameDiff = pd.read_excel('ccname.xlsx', sheet_name='Sheet3')
countryNameDict = dict(zip(df_area['countryName'], df_area['countryEnglishName']))
countryNameDictDiff = dict(zip(df_countryNameDiff['cn'], df_countryNameDiff['en']))
def new_countryEnName(name):
    if name in countryNameDictDiff:
        return countryNameDictDiff[name]
    return countryNameDict[name]

## dff_area

In [20]:
# merge_all['countryEnglishName'] = merge_all['countryName'].apply(lambda x: countryNameDict.get(x))
# merge_all
dff_area = merge_all.reset_index().drop(columns=['index'])
dff_area['countryShortEnglishName'] = dff_area['countryName'].apply(new_countryEnName)
dff_area['countryEnglishName'] = dff_area['countryName'].apply(lambda x: countryNameDict[x])
dff_area.fillna('not value', inplace=True)
dff_area['deadRate'] = dff_area['deadCount'] / dff_area['confirmedCount'] * 100
dff_area['curedRate'] = dff_area['curedCount'] / dff_area['confirmedCount'] *100
dff_area

,date,countryName,confirmedCount,nowconfirmedCount,curedCount,deadCount,countryShortEnglishName,countryEnglishName,deadRate,curedRate
0,2020-01-22,中国,544,499,28,17,China,China,3.125000,5.147059
1,2020-01-22,毛里塔尼亚,0,0,0,0,Mauritania,The Islamic Republic of Mauritania,NaN,NaN
2,2020-01-22,匈牙利,0,0,0,0,Hungary,Hungary,NaN,NaN
3,2020-01-22,荷属圣马丁,0,0,0,0,not value,not value,NaN,NaN
4,2020-01-22,缅甸,0,0,0,0,Myanmar,Burma,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20176,2020-04-23,布基纳法索,609,181,389,39,Burkina Faso,Burkina Faso,6.403941,63.875205
20177,2020-04-23,吉尔吉斯斯坦,612,404,201,7,Kyrgyzstan,not value,1.143791,32.843137
20178,2020-04-23,海地,57,54,0,3,Haiti,Haiti,5.263158,0.000000
20179,2020-04-23,蒙古,34,29,5,0,Mongolia,Mongolia,0.000000,14.705882
20180,2020-04-23,黑山,315,194,116,5,Montenegro,not value,1.587302,36.825397

In [21]:
dff_area.to_csv('DXYAreaSimple.csv')

### world_map_tap

In [22]:
from pyecharts.charts import Map, Timeline, Line, Tab
from pyecharts import options as opts
def get_world_map_all(label, column, pieces_type):
    tl = Timeline(init_opts=opts.InitOpts(width='1500px', height='700px'))
    
    tl.add_schema(play_interval=1000)
    
    for target_date in dff_area['date'].unique():
        confirm_map =  Map()
        df_world = dff_area[dff_area['date']==target_date].sort_values(by=column, ascending=False)
        df_world_10 = df_world[df_world[column] > 0].head(30)
#         subtitle_info = '\n'.join([f"{j+1}. {i[0]}: {i[1]:,.0f}" for j,i in enumerate(zip(df_world_10['countryName'], df_world_10[column]))])

        subtitle_info = '\n'.join([f"{i[0]}: {i[1]:,.0f}" for i in zip(df_world_10['countryName'], df_world_10[column])])
        if column == 'deadCount':
            subtitle_info = '\n'.join([f"{i[0]}: {i[1]:,.0f} ({i[2]:.2f}%)" for i in zip(df_world_10['countryName'], df_world_10[column], df_world_10['deadRate'])])
        if column == 'curedCount':
            subtitle_info = '\n'.join([f"{i[0]}: {i[1]:,.0f} ({i[2]:.2f}%)" for i in zip(df_world_10['countryName'], df_world_10[column], df_world_10['curedRate'])])                
        titles = f"{target_date[-5:]} {label}病例: {df_world[column].sum():,.0f}人\n\n{subtitle_info}"
        confirm_map.add(label, 
                    [list(z) for z in zip(df_world['countryShortEnglishName'], df_world[column].tolist() )], 
                    "world",label_opts=opts.LabelOpts(is_show=False),is_map_symbol_show=False,
                  )

        confirm_map.set_global_opts(
            title_opts=opts.TitleOpts(title=titles,
                                      pos_left='right',
                                      ), 
            legend_opts = opts.LegendOpts(pos_bottom='15%', pos_left='40%', is_show=False),
        
            visualmap_opts=opts.VisualMapOpts(is_piecewise=True, 
                                             pieces=pieces_type, 
                                             pos_bottom='10%',
                                             pos_left='15%')
        )
        tl.add(confirm_map, target_date)  
    return tl
pieces_confirm = [{'min': 100000, 'color': '#4F070D'},
                  {'min':50000, "max": 99999, 'color': '#811C24'},
                  {'min':10000, "max": 49999, 'color': '#CB2A2F'},
                  {'min':1000, "max": 9999, 'color': '#E55A4E' },
                  {'min':100, "max": 999, 'color': '#F59E83'},
                  {'min':1, "max": 99, 'color': '#FDEBCF'},
                  {'max':0, 'color': '#FFFFFF', 'label': '0'}]
pieces_cured = [{'min': 10000, 'color': '#25BB00'},
                {'min':1000, "max": 9999, 'color': '#33FF00'},
                {'min':500, "max": 999, 'color': '#5CFF33'},
                {'min':100, "max": 499, 'color': '#92FF77' },
                {'min':10, "max": 99, 'color': '#D6FFCC'},
                {'min':1, "max": 9, 'color': '#E4FFDD'},
                {'max':0, 'color': '#FFFFFF', 'label': '0'}]
pieces_dead = [{'min': 10000, 'color': '#4F070D'},
                {'min':1000, "max": 9999, 'color': '#811C24'},
                {'min':500, "max": 999, 'color': '#CB2A2F'},
                {'min':100, "max": 499, 'color': '#E55A4E' },
                {'min':10, "max": 99, 'color': '#F59E83'},
                {'min':1, "max": 9, 'color': '#FDEBCF'},
                {'max':0, 'color': '#FFFFFF', 'label': '0'}]

world_tab = Tab()
world_tab.add(get_world_map_all(label='现有确诊', column='nowconfirmedCount', pieces_type=pieces_confirm), '世界现有确诊病例疫情图')
world_tab.add(get_world_map_all(label='累计确诊', column='confirmedCount', pieces_type=pieces_confirm), '世界累计确诊病例疫情图')
world_tab.add(get_world_map_all(label='累计治愈', column='curedCount', pieces_type=pieces_cured), '世界累计治愈病例疫情图')
world_tab.add(get_world_map_all(label='累计死亡', column='deadCount', pieces_type=pieces_dead), '世界累计死亡病例疫情图')
world_tab.render('world_tab.html')

'C:\\Users\\wangw\\Desktop\\JupytertNotebookFile\\world_tab.html'

In [23]:
# country = '美国'
# column = 'confirmedCount'
# dff_area[dff_area['countryName'] == country][[column]].diff()

In [24]:
dff_now = dff_world['nowconfirmedCount'].sort_values(by=dff_world.index[-1], axis=1, ascending=False).iloc[:, :20]
dff_now

countryName,美国,英国,意大利,西班牙,土耳其,俄罗斯,法国,德国,荷兰,比利时,加拿大,葡萄牙,巴西,伊朗,印度,瑞典,秘鲁,沙特阿拉伯,日本,墨西哥
2020-01-22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-19,629417,103663,107771,98134,69986,39201,56515,47603,28680,24056,22687,18882,20527,20070,13295,12905,7388,7867,9809,6846
2020-04-20,648857,107890,108257,98771,72313,43270,56310,45768,29363,25398,21938,19518,14530,19023,14255,12714,8417,8891,9822,7574
2020-04-21,672929,111363,107709,100382,75410,48434,56983,43659,29927,25956,23068,19700,15235,18540,15122,13041,8912,9882,10193,8059
2020-04-22,705352,115051,107709,100757,78414,53066,57347,41415,30497,26193,23400,20054,16013,17492,15859,13517,10371,10851,10229,8643
2020-04-23,719225,115051,107699,101617,79821,57327,57154,39652,30497,26507,24231,20054,17533,16702,16454,13689,11693,10851,10655,9573

In [25]:
def line_province(): 
    dff_province_t = dff_now
    dates = [i[5:] for i in dff_province_t.index]
    global_setting = dict(datazoom_opts = [opts.DataZoomOpts(type_='inside'), opts.DataZoomOpts()],
        legend_opts= opts.LegendOpts(pos_top=30),
        yaxis_opts= opts.AxisOpts(axislabel_opts=opts.LabelOpts(formatter="{value} 人"), 
                                  splitline_opts=opts.SplitLineOpts(is_show=True)),
        xaxis_opts= opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=60)),
        tooltip_opts = opts.TooltipOpts(axis_pointer_type='cross'))

    line = Line(init_opts=opts.InitOpts(width='1500px', height='700px'))
    line.add_xaxis(list(dates))
    for p in dff_province_t.columns:
        line.add_yaxis(p, dff_province_t[p],label_opts=opts.LabelOpts(is_show=False),is_selected=False, is_smooth=True)
#     line.add_yaxis("死亡病例", deadCount,color='gray', label_opts=opts.LabelOpts(is_show=False))
#     line.add_yaxis("治愈病例", healCount,color='orange',label_opts=opts.LabelOpts(is_show=False))


#     line.set_colors(['red', 'gray', 'green'])
    line.set_global_opts(
        title_opts=opts.TitleOpts(title="Line-世界现有确诊病例前20国趋势线", 
                                  subtitle=f"Date: {list(dates)[-1]}"),
        **global_setting)
#     line.set_series_opts(
#     markline_opts=opts.MarkLineOpts(
#             data=[opts.MarkLineItem(y=80000, name="China")]),)
    return line
line_province().render('Top20 countries line nowconfirmed.html')

'C:\\Users\\wangw\\Desktop\\JupytertNotebookFile\\20 foreign counttry line nowconfirmed.html'